.orb-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: scale(3.0);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orb-container canvas {
  width: 80%;
  height: 60%;
  pointer-events: none;
}
